// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

/*
===============
Fonts
===============
*/

/*

/*
===============
Variables
===============
*/
$--clr--primary-light: #BA77CA;
$--clr--primary: #8D33A3;
$--clr--primary-dark: #702283;

$--clr--white: #fff;

$--clr-orange-1: #ef8543;
$--clr-orange-2: #F68C20;
$--clr-orange-3: #f68c20bd;
$--clr-orange-4: rgba(246, 140, 32, 0.1);
$--clr-yellow: #F3B23A;
$--clr-black-1: #000000;
$--clr-black-2: #302d3a;
$--clr-black-3: #282834;
$--clr-black-4: #3f3f48;
$--clr-black-5: #544E7A;
$--clr-purple-1: #484271;
$--clr-purple-2: #5f5982;
$--clr-purple-2-1: #6C63FF;
$--clr-purple-3: #5444a5;
$--clr-purple-4: #e2ddff;
$--clr-purple-5: #F1F3F8;

$--clr-black-1: #000000;
$--clr-black-2: #302d3a;
$--clr-black-3: #282834;
$--clr-black-4: #3f3f48;
$--clr-black-5: #544E7A;

/* darkest grey - used for headings */
$--clr-grey-1: #6f7078;
$--clr-grey-2: #777777;
$--clr-grey-3: #7a7a7a;
$--clr-grey-4: #91929a;
$--clr-grey-5: #bbbbbb;
$--clr-grey-6: #c4c4c4;
$--clr-grey-7: #efeff6;
$--clr-grey-8: #CAC6D4;
$--clr-green-1: #3E9365;
$--clr-green-2: #5fda6d;
$--clr-green-3: #CEF6D6;
$--clr-green-4: #E6FAEA;

$--ff-primary: 'Poppins', sans-serif;
$--ff-secondary: 'Fira Sans', sans-serif;
$--transition: all 0.3s linear;
$--spacing: .03rem;
$--radius: 0.3rem;
$--light-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
$--dark-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
$--shadow1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$--shadow2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
